<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<div class="test">
	<span v-for="item in test.test2">{{item.asd}}<br/></span>
	<div v-if="test">if</div>
	<div v-else-if="test1">elseif</div>
</div>
</body>
<script src="./he.js" type="text/javascript"></script>
<script src="./vue_self.js" type="text/javascript"></script>
<script>

    var template =
        '<div class="test">' +
        '   <span v-for="item in test.test2">{{item.asd}}</span>' +
        '   <div v-if="test">if</div>' +
        '   <div v-else-if="test1">elseif</div>' +
        '</div>';

    var data = {
        message: 'Hello Vue!',
        test: {
            test1: '123123',
            test2: [
                {
                    asd: 123
                },
                {
                    asd: 123
                },
                {
                    asd: 123
                }
            ]
        },
        test1: [
            {
                test1: 6548
            }
        ]
    };

    //    console.log(window.testparse(template, {}));

    var ss = new window.testparse({
        template: template,
        data: data
    });

    //    plain

    var app = new Vue({
        el: '.test',
        data: data
    });

</script>
</html>