<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<!--<div class="test" :class="test.test2">-->
<!--{{message}}-->
<!--<span v-for="item in test.test2">{{item.asd}}<br/></span>-->
<!--<div v-if="test">if</div>-->
<!--<div v-else-if="test1">elseif</div>-->
<!--<div>elseif</div>-->
<!--<span v-for="item in test.test2">-->
<!--<div>static</div>-->
<!--</span>-->
<!--<span v-for="item in test.test2">-->
<!--<div v-if="test">if</div>-->
<!--<div v-else-if="test1">elseif</div>-->
<!--</span>-->
<!--</div>-->
<!--<div class="test">-->
<!--<div v-if="test">if</div>-->
<!--<div v-else-if="test1">elseif</div>-->
<!--</div>-->

<div class="test">{{message}}
	<span v-for="item in test.test2">{{item.asd}}</span>
	<div v-if="test">if</div>
	<div v-else-if="test1">elseif</div>
</div>
</body>
<script src="./he.js" type="text/javascript"></script>
<script src="./vue_self.js" type="text/javascript"></script>
<script>

    var template =
        '<div class="test">{{message}}' +
        '   <span v-for="item in test.test2">{{item.asd}}</span>' +
        '   <div v-if="test">if</div>' +
        '   <div v-else-if="test1">elseif</div>' +
        '</div>';

    var data = {
        message: 'Hello Vue!',
        test: {
            test1: '123123',
            test2: [
                {
                    asd: 123
                },
                {
                    asd: 123
                },
                {
                    asd: 123
                }
            ]
        },
        test1: [
            {
                test1: 6548
            }
        ]
    };

    var ss = new He({
        template: template,
        data: data
    });


    //        var app = new Vue({
    //            el: '.test',
    //            data: data
    //        });


    setTimeout(function () {
        data.message = 'asdasdadasdad';
        data.test.test2 = [
            {
                asd: 34578
            },
            {
                asd: 123
            }
        ];
    }, 1000);

    //
    //    var app1 = new Vue({
    //        el: '.test1',
    //        data: data
    //    });
    //
    //    var app2 = new Vue({
    //        el: '.test2',
    //        data: data
    //    });

</script>
</html>